@use '../util' as *;

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
}

h1 {
  font-size: rem(24);
  margin-bottom: rem(3);
}

p {
  font-size: rem(16);
}

a,
a:visited,
a:active {
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
}
